name: Deploy to VPS
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: 95.163.232.252
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /var/www/app
            git pull
            npm install --omit=dev
            pm2 restart app
